* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(131, 145, 203);
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

th {
    border: black solid 5px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background-color: #f1f1f1;
}

a {
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}